*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    background-color: rgb(68, 218, 168);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.calculator {
    border: 2px solid antiquewhite;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.display_wrapper {
    background-color: antiquewhite;
    padding: 35px 20px;
    min-width: 400px;
    display: flex;
    justify-content: flex-end;
}

.operators,
.row1,
.row2,
.row3,
.row4 {
    display: flex;
}

.flex_operands {
    display: flex;
}

.operands {
    min-width: 75%;
}

.equals {
    min-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 170%;
}

.num, 
.operator,
.clear {
    flex: auto;
    text-align: center;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    background-color: white;
}